* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(160, 162, 165);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-body {
  background: rgb(200, 234, 227);
  border: #026363 4px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 30vh;
  padding: 10px;
  gap: 20px;
}

.calculator-screen {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 10px;
  border: blue 1px solid;
  display: flex;
  flex-flow: column;
  width: 400px;
  min-height: 100px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6px 8px 8px 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-cache {
  font-size: 20px;
}
.screen-current {
  font-size: 40px;
}
.row {
  /* border: red 1px solid; */
  display: flex;
  width: 400px;
  height: 425px;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
}

.btn {
  margin-bottom: 3px;
  border-radius: 10%;
  width: 97px;
  height: 80px;
  border: 3px solid #5d2d01;
  background-color: #f9dca0;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  color: #455da8;
}

.btn:hover {
  background-color: #f9dba09c;
  color: #656381;
  border: 3px solid #5d2d01;
}
/* Change = Color */
